<nav>
    <ul class="nav-bar">
        <li class="nav-link">
            <a href="/home">Home</a>
        </li>
        <li class="nav-link">
            <a href="/">Changer de connexion</a>
        </li>
        <li class="nav-link">
            <a href="/CRUD">Modifier une BDD</a>
        </li>
        <li class="nav-link">
            <a href="/choixBDconvert">BDD => fichier</a>
        </li>
        <li class="nav-link">
            <a href="/choixBDinsert">Fichier => BD</a>
        </li>
    </ul>
</nav>