<nav class="nav-flex-between">
    <ul class="nav-bar">
        <li class="nav-link nav-start">
            <a href="/menu2">Home</a>
        </li>
        <li class="nav-link nav-start">
            <a href="/bddExport">BD => Fichier</a>
        </li>
        <li class="nav-link nav-start">
            <a href="/bddImport">Fichier => BD</a>
        </li>
        <li class="nav-link nav-start">
            <a href="/CRUD">Modifier BDD</a>
        </li>
    </ul>
    <ul class="nav-bar">
        <li class="nav-link nav-end">
            <a href="/">Se déconnecter</a>
        </li>
    </ul>
</nav>