<%- include ('partials/header') %>
    <%- include ('partials/title') %>

    <h3>Choix de la BD dans laquelle ajouter les données</h3>

    <form method="post" action="/tableImport" class="form-bd">
        <label for="bd_name">Nom de la Base de Données</label>
        <select id="bd_name" name="bd_name" size=5 required>
            <!-- <option> -- Choisissez votre BDD -- </option> -->
            <%- optionsBD %>
        </select>
        <input type="submit" value="Valider" id="btValider" class="btn btn-validate" />
    </form>

<%- include ('partials/footer') %>