<%- include ('partials/header') %>
    <%- include ('partials/title') %>

    <h2>Choisissez la base de données où se trouve vous données</h2>
    
    <form method="post" action="/choixTableConvert" class="form-bd">
        <label for="bd_name">Nom de la Base de Données</label>
        <select id="bd_name" name="bd_name" size=5 required>
            <!-- <option>  --   Choisissez votre BDD   --  </option> -->
            <%- optionsBD %>
        </select>
        <input type="submit" value="Valider" id="btValider" class="btn btn-validate"/>
    </form>

    

    <!-- // <script src="../jquery/jquery.js"></script> -->

<%- include ('partials/footer') %>