<!DOCTYPE html>
<html>

<head>
    <title>choixBDconvert.ejs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <h3>Choix de la BD du Convertisseur</h3>

    <form method="post" action="/choixTableConvert">
        <label for="bd_name">Nom de la Base de Données</label>
        <select id="bd_name" name="bd_name" size=3>
            <%- optionsBD %>
        </select>
        <input type="submit" value="Valider" id="btValider" />
    </form>

    <br>
    <a href="/CRUD">Modifier une Base de donnée</a>
    <br>
    <a href="/choixFichierConvert">Insérer données à partir d'un fichier</a>
    <br>
    <br>
    <a href="/home2">Back to Home</a>
    <br>
    <a href="/">Changer de connexion</a>

    <script src="../jquery/jquery.js"></script>
</body>

</html>