<%- include ('partials/header') %>
    <%- include ('partials/title') %>

    <h3>Confirmation</h3>
    <br>
    <p><%= message %></p>
    <br>
    <a href="/CRUD">Modifier une Base de donnée</a>
    <br>
    <a href="/choixBDconvert">Convertir une Table en fichier</a>
    <br>
    <a href="/choixBDinsert">Insérer données à partir d'un fichier</a>
    <br>
    <br>
    <a href="/home2">Back to Home</a>
    <br>
    <a href="/">Changer de connexion</a>

    <script src="../jquery/jquery.js"></script>

<%- include ('partials/footer') %>