<%- include ('partials/header') %>
    <%- include ('partials/title') %>

    <h3>Confirmation</h3>
    <br>
    <p><%- messageValidation %></p>
    <br>
    <ul class="btn-big">
        <li class="btn-link-big">
            <a href="/menu2">Effectuer une nouvelle opéation</a>
        </li>
        <li class="btn-link-big">
            <a href="/">Se connecter à un autre serveur</a>
        </li>
    </ul>

<%- include ('partials/footer') %>